Repository Recipe-Web-App/user-management-service, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, services, schemas, tests, unit-tests, component-tests, performance-tests, documentation, configuration, docker, kubernetes, github-actions, dependencies

fix: reverted python image back to v13
  Dockerfile
Labels: docker

fix: reverted python image back to v13 (#94)
  Dockerfile
Labels: docker

fix(deploy): fixed docker build after python 14 upgrade
  Dockerfile
Labels: docker

fix(deploy): fixed docker build after python 14 upgrade (#100)
  Dockerfile
Labels: docker

feat(notification-service): added webhook for follower notification
  .env.example
  CLAUDE.md
  app/api/v1/routes/metrics.py
  app/api/v1/schemas/downstream/notification/__init__.py
  app/api/v1/schemas/downstream/notification/requests.py
  app/api/v1/schemas/downstream/notification/responses.py
  app/clients/__init__.py
  app/clients/base_oauth2_service_client.py
  app/clients/constants.py
  app/clients/notification_client.py
  app/clients/oauth2_token_manager.py
  app/core/config.py
  app/db/database_reconnection.py
  app/db/redis/redis_database_manager.py
  app/db/redis/redis_database_session.py
  app/deps/services.py
  app/main.py
  app/services/health_service.py
  app/services/social_service.py
  k8s/configmap-template.yaml
  k8s/deployment.yaml
Labels: api, database, services, schemas, documentation, configuration, kubernetes

feat(notification-service): added webhook for follower notification (#112)
  .env.example
  CLAUDE.md
  app/api/v1/routes/metrics.py
  app/api/v1/schemas/downstream/notification/__init__.py
  app/api/v1/schemas/downstream/notification/requests.py
  app/api/v1/schemas/downstream/notification/responses.py
  app/clients/__init__.py
  app/clients/base_oauth2_service_client.py
  app/clients/constants.py
  app/clients/notification_client.py
  app/clients/oauth2_token_manager.py
  app/core/config.py
  app/db/database_reconnection.py
  app/db/redis/redis_database_manager.py
  app/db/redis/redis_database_session.py
  app/deps/services.py
  app/main.py
  app/services/health_service.py
  app/services/social_service.py
  k8s/configmap-template.yaml
  k8s/deployment.yaml
Labels: api, database, services, schemas, documentation, configuration, kubernetes

feat(email-changed-notification): implemented email changed notification webhook
  app/api/v1/schemas/downstream/notification/__init__.py
  app/api/v1/schemas/downstream/notification/requests.py
  app/clients/notification_client.py
  app/deps/services.py
  app/services/notification_service.py
  app/services/user_service.py
Labels: api, services, schemas

feat(email-changed-notification): implemented email changed notification webhook (#119)
  app/api/v1/schemas/downstream/notification/__init__.py
  app/api/v1/schemas/downstream/notification/requests.py
  app/clients/notification_client.py
  app/deps/services.py
  app/services/notification_service.py
  app/services/user_service.py
Labels: api, services, schemas

fix: fixed auth config
  config/oauth2.json
  k8s/configmap-template.yaml
  k8s/deployment.yaml
  k8s/secret-template.yaml
Labels: configuration, kubernetes

fix: fixed errors processing introspection response
  app/api/v1/routes/social.py
  app/api/v1/schemas/downstream/auth/oauth2_introspection_data.py
  app/api/v1/schemas/downstream/auth/user_context.py
  app/deps/auth.py
  app/middleware/auth_middleware.py
  app/services/social_service.py
Labels: api, services, schemas

Auth config fix (#128)
  app/api/v1/routes/social.py
  app/api/v1/schemas/downstream/auth/oauth2_introspection_data.py
  app/api/v1/schemas/downstream/auth/user_context.py
  app/deps/auth.py
  app/middleware/auth_middleware.py
  app/services/social_service.py
  config/oauth2.json
  k8s/configmap-template.yaml
  k8s/deployment.yaml
  k8s/secret-template.yaml
Labels: api, services, schemas, configuration, kubernetes

.github/labeler.yml:

---
# API changes
api:
  - changed-files:
      - any-glob-to-any-file: "app/api/**/*"

# Database changes
database:
  - changed-files:
      - any-glob-to-any-file: "app/db/**/*"

# Services
services:
  - changed-files:
      - any-glob-to-any-file: "app/services/**/*"

# Schemas
schemas:
  - changed-files:
      - any-glob-to-any-file: "app/api/v1/schemas/**/*"

# Tests
tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"

# Unit tests
unit-tests:
  - changed-files:
      - any-glob-to-any-file: "tests/unit/**/*"

# Component tests
component-tests:
  - changed-files:
      - any-glob-to-any-file: "tests/component/**/*"

# Performance tests
performance-tests:
  - changed-files:
      - any-glob-to-any-file: "tests/performance/**/*"

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.toml"
          - "**/*.json"
          - ".env.example"

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile"
          - "docker-compose*.yml"
          - ".dockerignore"

# Kubernetes
kubernetes:
  - changed-files:
      - any-glob-to-any-file: "k8s/**/*"

# GitHub workflows
github-actions:
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**/*"

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "poetry.lock"
          - "pyproject.toml"
